/* .ui.secondary.menu {
  height: 60px !important;
  background-color: #008ecc;
}

.ui.menu .item {
  color: #fff !important;
  font-size: 16px;
} */

.navbar-container {
  width: 100vw;
  height: 80px;
  background-color: red;
  display: block;
}

.nav-item {
  margin: 10px;
}
