.payment-grid-system {
  font-size: 17px !important;
  font-weight: 600 !important;
}
.row {
  margin: 15px auto;
}
 .paragraph-text {
    font-size: 20px;
    font-weight: 500;
  }
@media screen and (max-width: 768px) {
  #original-price {
    margin: 20px auto;
    text-align: center;
  }
  .button-primary {
    width: 100%;
  }

  .paragraph-text {
    font-size: 20px;
    text-align: left;
    font-weight: 500;
  }
}
