.cart-container {
  /* width: 70vw; */
  margin-top: 50px;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 1px 2px 7px 2px lightgray;
}

.payment-container {
  margin-top: 50px;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 1px 2px 7px 2px lightgray;
}

.product-name {
  font-size: 20px;
  font-weight: 500;
  font-weight: 900;
}
.change-quantity {
  text-align: right;
}
.item-price {
  float: right;
  margin-top: 30px;
  font-size: 18px;
  line-height: 50px;
  color: #000;
  font-weight: 700;
}

.show-price {
  float: right;
  margin-top: 50px;
  font-size: 15px;
  margin-right: -46px;
  line-height: 50px;
  color: gray;
  font-weight: 700;
}

.cart-image {
  margin: 10px 0px;
  width: 100px;
  height: 100px;
}
 .dropdown {
    font-size: 11px;
  }

@media screen and (max-width: 768px) {
  .product-text {
    font-size: 14px;
  }
  .title-header {
    font-size: 16px;
  }
  .cart-image {
    margin: 0px 0px;
    width: 50px;
    height: 50px;
  }
  .dropdown {
    font-size: 12px;
  }
  .popup-remove {
    font-size: 12px;
  }
  .show-price{
    font-size: 10px;
  }
  .item-price{
    font-size: 15px;
  }
}
