.nav-link {
  margin: 10px;
  color: #fff !important;
  font-weight: 800;
  font-size: 20px;
}

.navbar-brand {
  margin: 10px;
  color: #fff !important;
  font-weight: 800;
  font-size: 20px;
}
.navbar{
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px 2px lightgray;
}
