.container {
  margin-top: 20px;
}
.product-image-container {
  text-align: center;
  height: 400px;
  border: solid 1px lightgray;
}
.product-image {
  width: 250px;
  height: 250px;
  margin: 30px;
}

.addToCartContainer {
  margin: 20px 0;
}

.itemQuantity {
  margin: 20px 0;
}
.display-item-name {
  height: 70px;
  font-size: 24px;
  font-weight: 500;
}

.product-showPrice {
  font-size: 20px;
  margin: 5px auto;
  color: gray;
}
.product-originalPrice {
  font-size: 25px;
  color: #000;
  font-weight: 800;
  margin: 5px auto;
}

.product-description {
  text-align: justify;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .product-showPrice {
    font-size: 20px;
    padding: 10px 0;
    color: gray;
  }
  .product-originalPrice {
    font-size: 25px;
    color: #000;
    font-weight: 800;
    padding: 10px 0;
  }
}
