.foodCard {
  display: inline-block;
  width: 250px;
  height: 350px;
  padding: 0 3px;
  margin: 10px 10px;
  box-shadow: 0px 1px 7px 3px lightgray;
  border-radius: 10px;
}

.foodCard:hover {
  width: 250px;
  height: 350px;
  box-shadow: 0px 1px 7px 3px gray;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.quantity-container {
  text-align: center;
  margin: 15px auto;
  padding: 0 10px;
}

.addCart {
  text-align: center;
  margin: 15px auto;
  padding: 0 10px;
}
.showPrice {
  text-align: center;
  font-size: 15px;
  color: gray;
}
.originalPrice {
  text-align: center;
  font-size: 17px;
  margin-top: 10px;
  color: #000;
}
.foodItemImage {
  text-align: center;
  width: 120px;
  height: 120px;
}

.food-image-container {
  text-align: center;
  margin: 5px auto;
}
.food-title {
  text-align: center;
  font-size: 15px;
  height: 40px;
  margin: 10px auto;
  font-weight: 800;
}

@media only screen and (max-width: 768px) {
  .foodCard {
    display: inline-block;
    width: 60vw;
    height: 350px;
    margin: 10px 10px;
    box-shadow: 0px 1px 7px 3px lightgray;
    border-radius: 10px;
  }
  .foodCard:hover {
    width: 60vw;
    height: 350px;
    box-shadow: 0px 1px 7px 3px gray;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  .quantity-container {
    margin: 30px auto;
    text-align: center;
    padding: 0 10px;
  }

  .addCart {
    text-align: center;
    margin: 30px auto;
    padding: 0 10px;
  }
  .showPrice {
    text-align: center;
    font-size: 17px;
    margin: 15px 0;
    color: gray;
  }
  .originalPrice {
    text-align: center;
    font-size: 24px;
    line-height: 10px;
    color: #000;
  }
  .foodItemImage {
    text-align: center;
    width: 120px;
    height: 120px;
  }

  .food-image-container {
    text-align: center;
    margin: 5px auto;
  }
  .food-title {
    text-align: center;
    font-size: 15px;
    height: 30px;
    margin: 10px auto;
    font-weight: 800;
  }
}
